body{
    margin: 0%;
    height: 100vh;
}
.spacehead{
    width: 25px;
    height: 40px;
  
}
.spacehead2{
    width: 15px;
    height: 40px;
  
}
.shopingpading{
    padding-top: 10px;
}
a.a1{
        font-size: 14px;
        color: rgba(0, 0, 0, 0.279);
    
}

.white-line{
    width: 100%;
    height: 1.3vh;
    background-color:rgb(203, 32, 32);
}

.sec-img{

}
.sec-image{
    display: none;
}



@media(max-width:1279px){
    .sec-img{
        display: none;
        width: 100%;
        
    }
    .sec-image{
        width:100%;
        display: block;

        
    }
}

.navbar-brand{

}
    @media(min-width:1150px){
        .mainhead{
            display: flex;
            justify-content: center;
           align-items: center;
        }
        
       
    }

    @media(max-width:1150px){
        .navbar-brand{
            
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 160px;
            
        }
      
    }

.margincard{ 
   
    margin: 15px !important;

}

@media (min-width: 1200px) {
    .CampaignsandEvents {
      font-size: 45px;
      display: flex;
    justify-content: center;
    }
  }

  @media (max-width: 1199.98px) {
    .CampaignsandEvents {
        display: flex;
        justify-content: center;

      font-size: 20px;
    }
  }

  @media (min-width: 1200px) {
    .CampaignsandEvents1 {
      font-size: 16px;
      display: flex;
    justify-content: center;
    }
  }

  @media (max-width: 1199.98px) {
    .CampaignsandEvents1 {
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
  }
  .zooming-img{
    transition:1s;
  }


  .zooming-img:hover{
    transform: scale(1.05);
  }

  

 .clipsdiv{
  display: flex;
  justify-content:center ;
 }
 .gaap{
    width: 100%;
    bottom: 0%;
    height: 30vh;
    display: flex;
   flex-direction: column;
    align-items:center;
    justify-content: end;
    
  }

 .hotdeals{
    font-size: 70px;
 }
.product-div{
    width: 100%;
    height: 10vh;
}
.smartphone{
   

   
}
.smartphone:hover{
border-bottom: 5px solid black;

}
.laptop:hover{
    border-bottom: 5px solid black;
}
.desktops:hover{
    border-bottom: 5px solid black;
}
.See-all-deals:hover{
    border-bottom: 5px solid black;  
}


.product-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.editmobile{
    font-size: 15px;
  
   
}
.m1-3{
    margin: 70px;
}

.section1{

width: 100%;
height: 700px;
background-color: red;

}
.sec_1{
    width: 30%;
    height: 680px;
    background-color: beige;
}
   .lastbutton{
    width: 100%;
    margin: 10px;
   }
   .lstimg{
    display: flex;
    float: left;
    margin-left: 10px;
   }
   .lastbutton1{
    max-width: max-content;
    float: left;
    margin-left: 10px;
    border-color: blue;
    border: 3px ;
   }
   .lastbutton1:hover{
    background-color: blue;
    color: aliceblue;
   }
   .margnlast{
    margin: 25px;
    display: flex;
    justify-content: center;
   }

